*{
    box-sizing: border-box;
    margin: 0 0;
}
body{
    font-family: sans-serif;
    background-image: url(https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg);
    background-repeat: none; 
    background-position: center;
    background-size: cover;
    
    color: white;
    
}
.nav-bar img{
    margin: 20px 0 0 11%; 
    cursor: pointer;
    
}
.cap
{
    margin-top: 20px;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-con
{
    
    height:20px;
    border-radius: 0 0 10px 10px;
}
.nav{
    margin: -50px 0 0 48%;
}
.nav li{
    display:inline;
    margin: 0 0 0 60px;
    font-size: 18px;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
    
}
.interface h1{
    font-weight: normal;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 35px;
    padding-bottom:5% ;
    margin-top: 15%;
}
.news{
    
    letter-spacing: 2px;
    font-size: 18px;
    padding-bottom: 6%;
}
.interface input{
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    letter-spacing: 2px;
    margin-left: -5px;
}
.material-icon
{
    position: fixed;
}
.fs{
    font-size: 60px;
    font-weight: lighter;
}
.interface button{
    border: none;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 10px;
    color: white;
    background-color: #00245a;
    cursor: pointer;
}
.interface button:hover{
    background:#8403fc;
    box-shadow: 0 0 5px #1d4be2,0 0 25px #1d4be2,0 0 50px #1d4be2,0 0 200px #1d4be2;
}
.box-4:hover .r{
    color: black;
}
.box-4:hover h3{
    color: black;
}
.info
{
    
    /* background-color: #0591aa; */
    width: 400px;
    height: 380px;
    box-shadow: 2px 3px 10px white;
    border-radius: 10px;
}
.info .header{
     /* background-color: #05b8d8;  */
    border-radius: 10px 10px 0 0;
    height: 80px;
    padding: 25px;
    text-align: center;
}
.info .header h1{
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
}
.info .report
{
    margin-left: 10%;
}
#description{
    font-size: 20px;
    text-transform: capitalize;
    position: relative;
    letter-spacing: 4px;

}

.info .output{
    display: inline-flex;
}
.digit{
    margin-left: 100px;
}


.list-info h3{
    margin-left: 50%;
    margin-top: 10%;
    font-size: 18px;
    font-weight:lighter;
}
.digit
{
    margin-top: 35px; 
}

.converter{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}
.list-info
{
    padding-top: 29%;
    margin-left: 0%;
    margin-top: 7%;
}



/**css for box**/
.upcom-box
{
    margin-left: 5%;
    display: flex;
    
}
.zoom {
    padding: 2px;
    transition: transform .2s; /* Animation */
    width: 1%;
    height: 18px;
      }
  
  .zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
.box-4{

    border-radius: 10px;
    width: 11%;
    height: 160px;
    margin-left: 2%;
    /* background-color: rgba(83, 255, 255, 0.315); */
    box-shadow: 2px 3px 10px #000;
}
.box-4 h3{
    margin-left: 5%;
    margin-top: 2%;
    font-weight: lighter;
}
.gy{
    color: rgb(39, 38, 38);
}
.fs2{
    font-size: 30px;
    margin-left: 4%;
    font-weight: lighter;
}
.upcom-report
{
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    letter-spacing: 2px;
    margin-left: 7%;
    padding-bottom: 1%;
}
.r{
    margin-left: 5%;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 14px;

}
.deg2
{
    margin-bottom: -5%;
}
.box-4:hover{
    background:#ced6f1;
    box-shadow: 0 0 5px #5411f0,0 0 25px #5411f0,0 0 50px #5411f0,0 0 200px #5411f0;
}
#chartContainer{
    margin-top: 15%;
    margin-left: -50%;
    display: block;
    position: relative;
    right: 300px;
}





/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){

  .nav-bar img{
        margin: 20px 0 0 2%; 
        cursor: pointer;
        
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
.container .interface h1{
    margin-top: 50px;
    margin-left:15px;
}
.container .news
{
    margin-left: 15px;
    margin-top: 10px;
}
.container .interface{

    /* width: 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.container .interface input{
    margin-top: 10px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 8px;
}
.container .interface button{

    margin-top: 10px;
    margin-left: 15px;
    border-radius: 8px;
}
.info{
    margin-top: 4%;
    float:none;
    width: 280px;
    height: 300px; 
    
    
}
.output .digit{
    margin-top: -2px;
    margin-left: 40%;
    
}
.output .deg{
    font-size: 45px;
}
.box-4{
    width: 50%;
    margin:3% auto; 
    box-shadow: 0px 0px 10px #000;
    background-color: rgb(161, 193, 211);
    text-align: center;
}
.upcom-report{
    text-align: center;
    margin-top: 5px;
}
.list-info h3
{
    margin: 1%;
}
.upcom-box
{
    display: flex;
    flex-direction: column;
    margin: 0;
}


#description{
    font-size: 15px;
    text-transform: capitalize;
    position: relative;
    letter-spacing: 2px;
}
.info .header h1{
    font-family: 'Oooh Baby', cursive;
    font-size: 29px;
}
#icon
{
    width: 70px;
    height: 70px;
}



        
   
}


